# Data Challenge - 2020a - OSSE - LeaderBoard

In [20]:
import autoroot
import typing as tp
from dataclasses import dataclass
import numpy as np
import pandas as pd
import xarray as xr
import einops
import metpy
from metpy.units import units
import xarray_dataclasses as xrdataclass
from oceanbench._src.datasets.base import XRDABatcher
from oceanbench._src.geoprocessing import geostrophic as geocalc
import matplotlib.pyplot as plt
import seaborn as sns

sns.reset_defaults()
sns.set_context(context="talk", font_scale=0.7)

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [21]:
results = pd.read_csv("/gpfswork/rech/yrf/commun/data_challenges/dc20a_osse/staging/results/leaderboard.csv", index_col=0)

In [22]:
cond1 = results["Variable"] == "SEA_SURFACE_HEIGHT"

## NADIR4

In [23]:
cond2 = results["Experiment"] == "NADIR4"
results.loc[cond1 & cond2].sort_values("λx [km]")

,Experiment,Method,Variable,µ(RMSE),σ(RMSE),iso λx [km],iso λx [degree],λx [km],λx [degree],λt [days]
0,NADIR4,DUACS,SEA_SURFACE_HEIGHT,0.913245,0.008211,124.93797,1.125567,176.070568,1.586221,11.551917

In [24]:
results.loc[cond1 & cond2].sort_values("λt [days]")

,Experiment,Method,Variable,µ(RMSE),σ(RMSE),iso λx [km],iso λx [degree],λx [km],λx [degree],λt [days]
0,NADIR4,DUACS,SEA_SURFACE_HEIGHT,0.913245,0.008211,124.93797,1.125567,176.070568,1.586221,11.551917

In [25]:
results.loc[cond1 & cond2].sort_values("µ(RMSE)", ascending=False)

,Experiment,Method,Variable,µ(RMSE),σ(RMSE),iso λx [km],iso λx [degree],λx [km],λx [degree],λt [days]
0,NADIR4,DUACS,SEA_SURFACE_HEIGHT,0.913245,0.008211,124.93797,1.125567,176.070568,1.586221,11.551917

## SWOT 1 + NADIR 5

In [26]:
cond3 = results["Experiment"] == "SWOT1NADIR5"
results.loc[cond1 & cond3].sort_values("λx [km]")

,Experiment,Method,Variable,µ(RMSE),σ(RMSE),iso λx [km],iso λx [degree],λx [km],λx [degree],λt [days]
0,SWOT1NADIR5,DUACS,SEA_SURFACE_HEIGHT,0.920956,0.016874,107.57234,0.96912,138.892909,1.251287,11.922338

In [27]:
results.loc[cond1 & cond3].sort_values("λt [days]")

,Experiment,Method,Variable,µ(RMSE),σ(RMSE),iso λx [km],iso λx [degree],λx [km],λx [degree],λt [days]
0,SWOT1NADIR5,DUACS,SEA_SURFACE_HEIGHT,0.920956,0.016874,107.57234,0.96912,138.892909,1.251287,11.922338

In [28]:
results.loc[cond1 & cond3].sort_values("µ(RMSE)", ascending=False)

,Experiment,Method,Variable,µ(RMSE),σ(RMSE),iso λx [km],iso λx [degree],λx [km],λx [degree],λt [days]
0,SWOT1NADIR5,DUACS,SEA_SURFACE_HEIGHT,0.920956,0.016874,107.57234,0.96912,138.892909,1.251287,11.922338