# LeaderBoard

In [9]:
import autoroot
import typing as tp
from dataclasses import dataclass
import numpy as np
import pandas as pd
import xarray as xr
import einops
import metpy
from metpy.units import units
import xarray_dataclasses as xrdataclass
from oceanbench._src.datasets.base import XRDABatcher
from oceanbench._src.geoprocessing import geostrophic as geocalc
import matplotlib.pyplot as plt
import seaborn as sns

sns.reset_defaults()
sns.set_context(context="talk", font_scale=0.7)

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [18]:
!ls

leaderboard.csv			  OSE_ssh_mapping_DUACS.nc
OSE_ssh_mapping_4dvarNet_2022.nc  OSE_ssh_mapping_DYMOST.nc
OSE_ssh_mapping_4dvarNet.nc	  OSE_ssh_mapping_MIOST.nc
OSE_ssh_mapping_BASELINE.nc	  results.csv
OSE_ssh_mapping_BFN.nc

In [20]:
results = pd.read_csv("/gpfswork/rech/yrf/commun/data_challenges/dc21a_ose/test/results/leaderboard.csv", index_col=0)
results.head()

     Method   µ(RMSE)  σ(RMSE)     λx [km]  λx [degree]
0     DUACS  0.881618      0.0  187.406401     1.688346
0     BFNQG  0.883529      0.0  150.409086     1.355037
0     MIOST  0.894965      0.0  163.226063     1.470505
0    DYMOST  0.897534      0.0  138.023416     1.243454
0  4DVARNET  0.899022      0.0  141.932838     1.278674

In [25]:
results.sort_values("λx [km]", ascending=True)

     Method   µ(RMSE)  σ(RMSE)     λx [km]  λx [degree]
0    DYMOST  0.897534      0.0  138.023416     1.243454
0  4DVARNET  0.899022      0.0  141.932838     1.278674
0     BFNQG  0.883529      0.0  150.409086     1.355037
0     MIOST  0.894965      0.0  163.226063     1.470505
0     DUACS  0.881618      0.0  187.406401     1.688346

In [24]:
results.sort_values("µ(RMSE)", ascending=False)

     Method   µ(RMSE)  σ(RMSE)     λx [km]  λx [degree]
0  4DVARNET  0.899022      0.0  141.932838     1.278674
0    DYMOST  0.897534      0.0  138.023416     1.243454
0     MIOST  0.894965      0.0  163.226063     1.470505
0     BFNQG  0.883529      0.0  150.409086     1.355037
0     DUACS  0.881618      0.0  187.406401     1.688346